%h1 Reset password

= form_for @user, url: password_resets_url(locale: :en, id: params[:id]) do |f|
  %p
    = f.label :password
    = f.text_field :password

  %p
    = f.label :password_confirmation
    = f.text_field :password_confirmation
  %p= f.submit 'Reset'

