%h1 Listing details

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @details.each do |detail|
    %tr
      %td= detail.name
      %td= link_to 'Show', [:admin, detail]
      %td= link_to 'Edit', edit_admin_detail_path(detail)
      %td= link_to 'Destroy', [:admin, detail], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Detail', new_admin_detail_path
