%p#notice= notice

%p
  %b Name:
  = @realestate.name
%p
  %b Description:
  = @realestate.description
%p
  %b Address:
  = @realestate.address
%p
  %b User:
  = @realestate.user

= link_to 'Edit', edit_realestate_path(@realestate)
\|
= link_to 'Back', realestates_path
