%h1 Listing realestates

%table
  %tr
    %th Name
    %th Description
    %th Address
    %th User
    %th
    %th
    %th

  - @realestates.each do |realestate|
    %tr
      %td= realestate.name
      %td= realestate.description
      %td= realestate.address
      %td= realestate.user
      %td= link_to 'Show', realestate
      %td= link_to 'Edit', edit_realestate_path(realestate)
      %td= link_to 'Destroy', realestate, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Realestate', new_realestate_path
