%h1= t('.title')

%table
  %tr
    %th= t('category.name')
    %th
    %th
    %th

  - @categories.each do |category|
    %tr
      %td= category.name
      %td= link_to t('common.show'), [:admin, category]
      %td= link_to t('common.edit'), edit_admin_category_path(category)
      %td= link_to t('common.destroy'), [:admin, category], method: :delete, data: { confirm: t('common.destroy?') }

%br

= link_to t('category.new'), new_admin_category_path
