= form_for [:admin, @user] do |f|
  = render 'admin/shared/errors', model: @user

  .row
    .medium-1.columns
      = f.label :email
    .medium-9.columns.left
      = f.text_field :email
    - if current_user.admin?
      .medium-2.columns
        = f.select(:role, User.possible_roles(current_user.role), prompt: true)

  .row
    .medium-1.columns
      = f.label :password
    .medium-5.columns.left
      = f.password_field :password
    .medium-1.columns
      = f.label :password_confirmation
    .medium-5.columns.left
      = f.password_field :password_confirmation

  .row
    .small-12.columns.text-center
      = f.submit t('.save'), class: 'button'
      = link_to 'Cancel', admin_users_path, class: 'button'
