= form_for [:admin, @user] do |f|
  .row
    .large-12.columns
      = f.label :email
      = f.text_field :email
  .row
    .large-12.columns
      = f.label :password
      = f.password_field :password
  .row
    .large-12.columns
      = f.label :password_confirmation
      = f.password_field :password_confirmation

  - if current_user.admin?
    .row
      .large-12.columns
        = f.label :role
        = f.select(:role, User.possible_roles(current_user.role), prompt: true)

  = f.submit t('.save'), class: :button
