= form_for [:admin, @user] do |f|
  .row
    .large-12.columns
      = f.label :email, 'Email'
      = f.text_field :email
  .row
    .large-12.columns
      = f.label :password, 'Password'
      = f.password_field :password
  .row
    .large-12.columns
      = f.label :password_confirmation, 'Password confirmation'
      = f.password_field :password_confirmation

  - if current_user.admin?
    .row
      .large-12.columns
        = f.label :role, 'Role'
        = f.select :role, User.possible_roles(current_user.role)

  = f.submit (params[:action] == 'new') ? 'Create' : 'Edit'
