%h1 Add new user

= form_for [:admin, @user] do |f|
  %p
    = f.label :email, 'Email'
    = f.text_field :email
  %p
    = f.label :password, 'Password'
    = f.password_field :password
  %p
    = f.label :password_confirmation, 'Password confirmation'
    = f.password_field :password_confirmation
  %p
    = f.label :role, 'Role'
    = f.select  :role, User.possible_roles(current_user.role)

  = f.submit 'Create'
