%h2= t '.title'

- if @users.any?
  %table
    %thead
      %tr
        %th= t('user.email')
        %th= t('user.role')
        %th
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= user.email
          %td= user.role
          %td= link_to t('common.edit'), edit_admin_user_path(user)
          %td= link_to t('common.destroy'), [:admin, user], method: :delete

- else
  %p= t('user.no_users')

= link_to t('user.new'), new_admin_user_path
