= form_for [:admin, @property] do |f|
  - if @property.errors.any?
    #error_explanation
      %h2= "#{pluralize(@property.errors.count, "error")} prohibited this property from being saved:"
      %ul
        - @property.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :ref
    = f.text_field :ref
  .field
    = f.label :town
    = f.text_field :town
  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
