= form_for [:admin, @property], html: { multipart: true } do |f|
  = render 'admin/shared/errors', model: @property

  .row
    .medium-1.columns
      = f.label :title
    .medium-5.columns
      = f.text_field :title
    .medium-1.medium-offset-2.columns
      = f.label :ref
    .medium-3.columns
      = f.text_field :ref

  .row
    .medium-1.columns
      = f.label :town_id, 'Town'
    .medium-3.columns.left
      = f.collection_select(:town_id, Town.all, :id, :name, prompt: true)

  .row
    .medium-1.columns
      = f.label :user_id
    .medium-3.columns.left
      = f.collection_select(:user_id, User.where(role: :owner), :id, :email, prompt: true)

  .row
    .small-1.columns
      = f.label :category_ids
    .small-11.columns
      = f.collection_check_boxes(:category_ids, Category.all, :id, :name)

  .row
    .small-1.columns
      = f.label :detail_ids
    .small-11.columns
      = f.collection_check_boxes(:detail_ids, Detail.all, :id, :name)

  - if @property.pictures.size > 0
    .row
      - @property.pictures.each do |picture|
        .medium-4.columns.text-center
          = image_tag picture.image.url(:medium)
          %br
          = link_to 'DELETE', admin_property_destroy_picture_path(property_id: @property.id, picture_id: picture.id),
            method: :delete, remote: true
  .row
    .small-2.columns
      .general.foundicon-plus{title: 'Add image'}
    .small-10.columns.pictures-form
    = file_field_tag 'pictures[]', type: 'file', multiple: true
  -# .field
  -#   = f.fields_for :pictures do |pictures|
  -#     = pictures.file_field :image
  -#     = pictures.text_field :description
  .row.text-center
    = f.submit t('.save'), class: 'button'
    = link_to 'Cancel', admin_properties_path, class: 'button'

-# :coffee
  -# alert 'test'
  -# $ ->
  -#   $('.foundicon-plus').click, ->
  -#     alert 'click'
