%p#notice= notice

%p
  %b Ref:
  = @property.ref
%p
  %b Town:
  = @property.town
%p
  %b User:
  = @property.user
%p
  %b Categories:
  = @property.categories ? @property.categories.join(', ') : 'No categories'
%p
  %b Details:
  = @property.details ? @property.details.join(', ') : 'No details'

= link_to 'Edit', edit_admin_property_path(@property)
\|
= link_to 'Back', admin_properties_path
