%p
  %b= t('property.ref') + ':'
  = @property.ref
%p
  %b= t('property.town') + ':'
  = @property.town
%p
  %b= t('property.user') + ':'
  = @property.user
%p
  %b= t('property.categories') + ':'
  = @property.categories.any? ? @property.categories.pluck(:name).join(', ') : t('property.no_categories')
%p
  %b= t('property.details') + ':'
  = @property.details.any? ? @property.details.pluck(:name).join(', ') : t('property.no_details')
- if @property.pictures.size > 0
  %p Images
  - @property.pictures.each do |picture|
    = image_tag picture.image.url(:thumb)
    %small= picture.description if picture.description.present?
    %br

= link_to t('common.edit'), edit_admin_property_path(@property)
\|
= link_to t('common.back'), admin_properties_path
